.cards {
  padding-top: 20px;
  margin: 0 auto;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards {
    padding-bottom: 20px;
  }
  .cards__list {
    gap: 20px;
  }
}
